/bin/
/ilbe-text-2014.09
/ilbe-text-2014.10.04
/dic.CSV
/result-test-todayhumor.txt
/result-test.txt
/result-todayhumor.txt
/text.txt
/result.txt
/todayhumor-text-2014.09
/todayhumor-text-2014.10.04
/word-new21.txt
/komoran_data/
